  
  <!-- Content Heading: show the title, else return tp home screen -->
  <% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
    
  <!-- The Message Block: Ex if an error appears -->
  <%- messages() %>

  <label>You're logged in 12345</label><br>