<!-- Content Heading: show the title, else return to home screen -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  
  <!-- The Message Block: Ex if an error appears -->
  <%- messages() %>