<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <!--// Error Steps (Step 6)-->
  <!-- Takes to the buildError page which has an actual error-->
  <a href="/error/buildError" id="500Error">Error Link</a>
</footer>