<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  <div id="tools">
    <!-- utilities.areWeLogged isSomeoneLoggedIn() -->
    <% if (locals.loggedin) { %>
      <a> </a>
      <a title="Click for management page" href="/account">Welcome <%= locals.accountData.account_firstname %></a>
      <a title="Click to logout" href="/account/logout">Logout</a>
    <% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>