<nav id="top-black-bar">
  <ul class="header-link-options">
    <li>Home</li>
    <li>Custom</li>
    <li>Sedan</li>
    <li>SUV</li>
    <li>Truck</li>
  </ul>
</nav>

<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black -->
<!-- <li><a class="header-link">Home</a></li>
<li><a class="header-link">Custom</a></li>
<li><a class="header-link">Sedan</a></li>
<li><a class="header-link">SUV</a></li>
<li><a class="header-link">Truck</a></li> -->