<div class="review-box">
  <label class="bold-heading">DMC Delorean Reviews</label>
  <ul class="reviews">
    <li>"So fast it's almost like travelling in time." (4/5)</li>
    <li>"Coolest ride on the ride." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (4/5)</li>
  </ul>
</div>