<!-- RPH Partial created -->

<div class="upgrade-box">
  <label class="bold-heading">Delorean Upgrades</label>

  <ul class="upgrades">
    <li class="full-upgrade">
      <div class="upgrade-display-square">
        <img class="upgrade" src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
      </div>
      <a href="/">Flux Capacitor</a>
    </li>
    <li class="full-upgrade">
      <div class="upgrade-display-square">
        <img class="upgrade" src="images/upgrades/flame.jpg" alt="flame">
      </div>
      <a href="/">Flame Decals</a>
    </li>
    <li class="full-upgrade">
      <div class="upgrade-display-square">
        <img class="upgrade" src="images/upgrades/flux-cap.png" alt="flux cap">
      </div>
      <a href="/">Bumper Sticker</a>
    </li>
    <li class="full-upgrade">
      <div class="upgrade-display-square">
        <img class="upgrade" src="images/upgrades/hub-cap.jpg" alt="hub cap">
      </div>
      <a href="/">Hub Caps</a>
    </li>
  </ul>

</div>