<h1>Welcome to CSE Motors</h1>

<div class="container">
  <img class="vehicle-image" src="images/vehicles/delorean.jpg">

  <div class="car-feature-box">
    <label>DMC Delorean</label>
    <ul class="car-features">
      <li>3 Cup Holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
      <button>Own Today</button>
    </ul>
  </div>
</div>

<div class="upgrade-box">
  <label>Delorean Upgrades</label>

  <ul>
    <img class="upgrade" src="images/upgrades/bumper_sticker.jpg">
    <img class="upgrade" src="images/upgrades/flame.jpg">
    <img class="upgrade" src="images/upgrades/flux-cap.png">
    <img class="upgrade" src="images/upgrades/hub-cap.jpg">
  </ul>
</div>

<div class="review-box">
  <ul>DMC Delorean Reviews
    <li>"So fast it's almost like travelling in time." (4/5)</li>
    <li>"Coolest ride on the ride." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (4/5)</li>
  </ul>
</div>