<div id="car-display">
  <h1 class="bold-heading">Welcome to CSE Motors!</h1>
  <img class="vehicle-image" src="images/vehicles/delorean.jpg" alt="car">
  <%- messages() %>

  <div class="car-feature-box">
    <label class="bold-heading">DMC Delorean</label>
    <ul class="car-features">
      <li>3 Cup Holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>      
    <button id="own-button">Own Today</button>

  </div>
</div>



<div id="thoughts-and-upgrades">
  <div class="upgrade-box">
    <label class="bold-heading">Delorean Upgrades</label>
  
    <ul class="upgrades">
      <li class="full-upgrade">
        <div class="upgrade-display-square">
          <img class="upgrade" src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
        </div>
        <a href="/">Flux Capacitor</a>
      </li>
      <li class="full-upgrade">
        <div class="upgrade-display-square">
          <img class="upgrade" src="images/upgrades/flame.jpg" alt="flame">
        </div>
        <a href="/">Flame Decals</a>
      </li>
      <li class="full-upgrade">
        <div class="upgrade-display-square">
          <img class="upgrade" src="images/upgrades/flux-cap.png" alt="flux cap">
        </div>
        <a href="/">Bumper Sticker</a>
      </li>
      <li class="full-upgrade">
        <div class="upgrade-display-square">
          <img class="upgrade" src="images/upgrades/hub-cap.jpg" alt="hub cap">
        </div>
        <a href="/">Hub Caps</a>
      </li>
    </ul>
  </div>

  <div class="review-box">
    <label class="bold-heading">DMC Delorean Reviews</label>
    <ul class="reviews">
      <li>"So fast it's almost like travelling in time." (4/5)</li>
      <li>"Coolest ride on the ride." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (4/5)</li>
    </ul>
  </div>
</div>