<div id="car-display">
  <h1 class="bold-heading">Welcome to CSE Motors!</h1>
  <img class="vehicle-image" src="images/vehicles/delorean.jpg" alt="car">

  <div class="car-feature-box">
    <label class="bold-heading">DMC Delorean</label>
    <ul class="car-features">
      <li>3 Cup Holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>      
    <button id="own-button">Own Today</button>

  </div>
</div>



<div id="thoughts-and-upgrades">
  <%- include('partials/upgrade.ejs') %>
  <%- include('partials/reviews.ejs') %>

</div>