/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.bold-heading{
  font-weight: bold;
}

body{
  background-image: url('/images/site/checkerboard.jpg');
}

#wrapper{
  /* position: relative; */
  background-color: white;  
  border: 3px solid skyblue;
  padding: 3px;

  /* Set max size box/element can be */
  max-width: 65em;
  margin: 0 auto;  
}

/******* 
* Top Header
********/
header{
  position: relative;
}

/*left side*/
.siteName a{
  display: inline-block;
  font-size: 1.75em;
  text-decoration: none;
  color: black;
}

/*Right side*/
#tools {
  display: inline-block;
  position: absolute;
  font-size: 1.0em;
  right: 0%; 
}

/* Actual "my account" */
#tools a {
  text-decoration: none;
  color: black;
}

/************** 
* Heading Links - https://www.w3schools.com/cssref/tryit.php?filename=trycss3_media_menu
**************/
nav#top-black-bar{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  background-color: #333;  
}

.header-link-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 2em;

  justify-content: center;
  align-items: center;

  /* Remove the extra left-lump where a bullet would go */
  margin-left: 0px;
  padding-left: 0px;
}

/* individual header options */
ul.header-link-options li{
  display: inline-block;
  text-align: center;
  padding: 14px 4.5%; 
  /*top/bottum then left/right*/
  margin-left: 0px;
}

ul.header-link-options li a{
  color: white;
}

/* Change color when user hovers over */
ul.header-link-options li a:hover {
  background-color: #ddd;
  color: black;
}

/* When less then 500px, start moving options to 2nd row below */
@media screen and (max-width: 500px) {
  ul.header-link-options {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 250px) {
  ul.header-link-options {
    grid-template-columns: 1fr 1fr;
  }
}

.container{
  position: relative;
  /* And Child as "Absolute" */
}

#car-display{
  height: 100%;
  margin-bottom: 40px;
}

main{
  /* display: block; */
}

.vehicle-image{
  width: 60%;
  /* width: 200; */

  height: auto;

  display: block;
  margin-left: 18%;

  /* Place behind car features */
  z-index: 2;
}

.car-feature-box{
  /* position: absolute; */
  display: block;
  top: 200px;
  left: 5%;

  /* border: 3px solid #442dad; */
  width: 200px;
  height: auto;
 
  background-color: #fff;
  background-color: rgba(255,255,255,0.562);
  

  /* Place car features before car picture*/
  z-index:8;
}

.car-features{
  color: #333;

  padding-left: 0;
  margin: 0;
}

ul.car-features{
  /* Remove Bullets */
  list-style-type: none;
}

#own-button{
 background-color: aqua;
}

#thoughts-and-upgrades{
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  #thoughts-and-upgrades{
    flex-direction: column-reverse;
  }
}

/* @media screen and (min-width: 800px) {
  #thoughts-and-upgrades{
    flex-direction: row;
  }
} */

.upgrade-box{
  /* border: 3px solid #73AD21; */
  width: 250px;
  height: 185px;
}

.upgrades{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.full-upgrade{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.upgrade-display-square{
  width: 110px;
  height: 60px;
  margin: 5px;
  border: 3px solid yellow;
  background-color: aqua;
  color: blue;

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.upgrade{
  height: 50%;
  background-size: contain;
}

.review-box{
  position: relative;
  display: inline-block;
  /* border: 3px solid #732D21; */
  width: 250px;
  top: 0;
}

.reviews{
  padding-left: 10px;
  margin-left: 20px;
}

/************************ 
2nd Lvl: Car modals Shown 
*************************/
/* All Cars of that modal */
#inv-display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;

  justify-content: center;
  align-items: center;

  /* Remove the extra left-lump where a bullet would go */
  margin-left: 0px;
  padding-left: 0px;
}

/* One car modal */
.car-modal{
  height: 270px;
  /* Remove the extra left-lump where a bullet would go */
  list-style-type: none; 
 
  /* Border */
  border-style: solid;
  /* Round border - https://www.w3schools.com/css/css_border_rounded.asp*/
  border: 2px solid rgb(204, 203, 203);
  border-radius: 5px;
  padding: 5px;

  /* Center the text - https://www.w3schools.com/cssref/tryit.php?filename=trycss_text-align */
  text-align: center;
}

.car-modal img{
  height: 130px;
}

/* When screen width is less then 740px */
@media screen and (max-width: 740px) {
  #inv-display{
    /* -webkit-column-count: 1;
    column-count: 1; */
    grid-template-columns: 1fr 1fr;
  }
  /* flex: 100%;
    max-width: 100%; */
}

@media screen and (max-width: 500px) {
  #inv-display{
    /* -webkit-column-count: 1;
    column-count: 1; */

    grid-template-columns: 1fr;

  }
  /* flex: 100%;
    max-width: 100%; */
}

/************************ 
3rd Lvl: 1 Car Modal Shown 
*************************/
/* Box holding both description section of that modal */
#inv-car-modal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 2em;

  justify-content: center;
  align-items: center;

  /* Remove the extra left-lump where a bullet would go */
  margin-left: 0px;
  padding-left: 0px;
}

.inv-car-modal-columns{
  float: left;
  background-color: aqua;

  height: 370px;
  /* Remove the extra left-lump where a bullet would go */
  list-style-type:none; 
}

#mainCarPicture{
  padding: 25px;
  object-fit: contain; 
  overflow:hidden;
  align-items: center;

  /* width: 100%; */
}

/* Details and its title */
#infoTitle{
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
}

#mainCarDetails{
  padding: 25px;
  font-size: 25px;
}

/* 
*  When screen is less than 1030: Make 1 column, and each box
*  fill the outside one
*/
@media screen and (max-width: 1030px) {
  #inv-car-modal{
    grid-template-columns: 1fr;
  }

  #mainCarPicture{
    height: 100%;
  }

  #mainCarDetails{
    height: 100%;
  }

  .inv-car-modal-columns{
    height: auto;
  }
}

/* Bold Certain Text within "span" element */
.bold {
  font-weight:bold;  
}

/************************ 
*  Login Page - (Note, "padding" is giving the space with background color)
*************************/
#requiredTitle{
  padding-left:10px;
}

#loginOuterBackground{
  background-color:rgba(0, 60, 255, 0.507);
  width: 260px;
  /* border: 2px solid rgb(196, 64, 64); */
  display: block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

/* Edit Later */
  padding-top: 1px;
  padding-bottom: 1px;
}

#loginBackground{
  border: 2px solid rgb(253, 253, 253);

  padding: 10px;
  margin: 10px;
  display: block;
  margin-top: 7px;
  margin-left: 6px;
  margin-right: 6px
}

#passwordButton{
  border-radius: 20px;
  background: black;
  color:#fff;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#signUp{
  color: #333;
  margin-bottom: 8px;
  text-align: center;
}

/************************ 
*  New Classification Page
*************************/

/******************
* Normal center display and/or input
*******************/
.aRequiredTitle{
  padding-left:10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.outerBoxBackground{
  background-color:rgba(0, 60, 255, 0.507);
  /* width: 260px; */
  width: 400px;


  /* border: 2px solid rgb(196, 64, 64); */
  display: block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  /* Edit Later */
  padding-top: 1px;
  padding-bottom: 1px;
}

.innerboxBackground{
  border: 2px solid rgb(253, 253, 253);

  padding: 10px;
  margin: 10px;
  display: block;
  margin-top: 7px;
  margin-left: 6px;
  margin-right: 6px
}

.labelPaddedTopBottom{
  padding-top: 1px;
  padding-bottom: 1px;
}

/******************
* Input coloring
*******************/
input:focus:required:invalid{
  background-color:red;
}
/* input:required:invalid, input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
  
  background-color:red;
} */
  
 input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;  
  background-color:greenyellow;
}

/* text adjusted to picture - https://www.geeksforgeeks.org/how-to-wrap-the-text-around-an-image-using-html-and-css/ 
 * image position - https://www.freecodecamp.org/news/css-responsive-image-tutorial/
 */

