/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.bold-heading{
  font-weight: bold;
}

body{
  background-image: url('/images/site/checkerboard.jpg');
}

#wrapper{
  /* position: relative; */
  background-color: white;  
  border: 3px solid skyblue;
  padding: 3px;

  /* top: 50%;
  left: 50%;  */
  
  max-width: 65em;
  margin: 0 auto;
  
}

/******* Top Header******FIXED**/
header{
  position: relative;
}

/*left side*/
.siteName a{
  display: inline-block;
  font-size: 1.75em;
  text-decoration: none;
  color: black;
}

/*Right side*/
#tools {
  display: inline-block;
  position: absolute;
  font-size: 1.0em;
  right: 0%; 
}

/* Actual "my account" */
#tools a {
  text-decoration: none;
  color: black;
}

/******** Heading Links ********/
nav#top-black-bar{
  display: flex;
  align-items: flex-start;
}

.header-link-options {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  /* Remove the extra left-lump where a bullet would go */
  margin-left: 0px;
  padding-left: 0;
  background-color: #333;  
}

ul.header-link-options li{
  display: inline-block;
  text-align: center;
  padding: 14px 4.5%; 
  /*top/bottum then left/right*/
  margin-left: 0px;
}

ul.header-link-options li a{
color: white;
}


.container{
  position: relative;
  /* And Child as "Absolute" */
}

#car-display{
  height: 100%;
  margin-bottom: 40px;
}

main{
  display: block;
}

.vehicle-image{
  width: 60%;
  /* width: 200; */

  height: auto;

  display: block;
  margin-left: 18%;

  /* Place behind car features */
  z-index: 2;
}

.car-feature-box{
  /* position: absolute; */
  display: block;
  top: 200px;
  left: 5%;

  /* border: 3px solid #442dad; */
  width: 200px;
  height: auto;
 
  background-color: #fff;
  background-color: rgba(255,255,255,0.562);
  

  /* Place car features before car picture*/
  z-index:8;
}

.car-features{
  color: #333;

  padding-left: 0;
  margin: 0;
}

ul.car-features{
  /* Remove Bullets */
  list-style-type: none;
}

#own-button{
 background-color: aqua;
}

#thoughts-and-upgrades{
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  #thoughts-and-upgrades{
    flex-direction: column-reverse;
  }
}

/* @media screen and (min-width: 800px) {
  #thoughts-and-upgrades{
    flex-direction: row;
  }
} */

.upgrade-box{
  /* border: 3px solid #73AD21; */
  width: 250px;
  height: 185px;
}

.upgrades{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.full-upgrade{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.upgrade-display-square{
  width: 110px;
  height: 60px;
  margin: 5px;
  border: 3px solid yellow;
  background-color: aqua;
  color: blue;

  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.upgrade{
  height: 50%;
  background-size: contain;
}

.review-box{
  position: relative;
  display: inline-block;
  /* border: 3px solid #732D21; */
  width: 250px;
  top: 0;
}

.reviews{
  padding-left: 10px;
  margin-left: 20px;
}

/************************ 
2nd Lvl: Car modals Shown 
*************************/
/* INCOMPLETE */
.inv-display{
  display: flex;
  justify-content: center;
  align-items: center;

 margin-left: 0px;
  padding-left: 0;

  
}

/* INCOMPLETE */
.car-modal{
  /* Remove the extra left-lump where a bullet would go */
 list-style-type: none; 
 /* Remove the extra left-lump where a bullet would go */
 margin-left: 0px;
 padding-left: 0px;
}

/************************ 
3rd Lvl: a Car's Information 
*************************/