<!-- Content Heading: show the title, else return to home screen -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
} %>
  
<!-- The Message Block: Ex if an error appears -->
<%- messages() %>
    
<!-- Error Block -->
<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
  </ul>
<% } %>

<!-- The Add Classification Display -->
<form class="outerBoxBackground" action="/inv/add-Classification" method="post">
  <label class="aRequiredTitle">FIELD IS REQUIRED.</label>
  <!-- All within the box -->
  <div class="innerboxBackground">
    <label class="labelPaddedTopBottom" for="classificationName">Classification Name:</label><br>
    <label class="labelPaddedTopBottom">NAME MUST BE ALPHABETIC CHARACTERS ONLY.</label>
    <Input type="text" name="classification_name" id="classificationName"
       required pattern="[a-zA-Z]+"><br>  
    <button>Add Classification</button>
  </div>
</form>

<!-- pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Z0-9])(?!.*\s).{12,}$"><br>   -->
