

  <!-- RPH - NEW TITLE LATER -->

  <!-- Content Heading: show the title, else return tp home screen -->
<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
  
<!-- The Message Block: Ex if an error appears -->
<%- messages() %>
  
<!-- New Product Buttons -->
<a href="/inv/add-Classification" >Add New Classification</a><br>
<a href="/inv/add-Inventory" >Add New Vehicle</a>

<h2>Manage Inventory</h2>
<p>Choose a Classification to see those inventory items.</p>
<%- classificationSelect %>
  
<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>

